# HW_7

1.Sum of all numbers from 1 to 500

In [1]:
import numpy as np

In [2]:
numbers = np.arange(1, 501)
numbers.sum()

125250

2.Sum of squares of all numbers from 1 to 10

In [3]:
numbers = np.arange(1, 11)
(numbers**2).sum()

385

3.Median of squares of all numbers from 1 to 100

In [4]:
numbers = np.arange(1, 101)
squares = numbers ** 2
np.median(squares)

2550.5

4.Mean of squares of all numbers from 1 to 100

In [5]:
numbers = np.arange(1, 101)
squares = numbers ** 2
np.mean(squares)

3383.5

5.Standard deviation of squares of all numbers from 1 to 100

In [6]:
numbers = np.arange(1, 101)
std = numbers ** 2
np.std(std)

3009.1960803510297

6.Calculate the standard deviation of an array ​without using​ np.std.

In [7]:
numbers = np.arange(1, 101)
a = numbers ** 2
b = np.mean(a)
std = np.sqrt(sum((a - b)**2)/(101-1))
std

3009.1960803510297

7.Take as input a real number x. For all integers in the range [100, 200], find the minimum distance to x, the maximum distance to x, and the mean distance to x.

In [8]:
x = int(input ('Enter the number:'))
i_range = np.arange (100,201)
distance = np.abs(x - i_range)

distance

Enter the number:80

array([ 20,  21,  22,  23,  24,  25,  26,  27,  28,  29,  30,  31,  32,
        33,  34,  35,  36,  37,  38,  39,  40,  41,  42,  43,  44,  45,
        46,  47,  48,  49,  50,  51,  52,  53,  54,  55,  56,  57,  58,
        59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,  71,
        72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83,  84,
        85,  86,  87,  88,  89,  90,  91,  92,  93,  94,  95,  96,  97,
        98,  99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110,
       111, 112, 113, 114, 115, 116, 117, 118, 119, 120])

In [9]:
distance.min()

20

In [10]:
distance.max()

120

In [11]:
np.mean(distance)

70.0

8.Create a 2D array with 10 rows and 5 columns, based on the following rules:

a.The first cell of the first row is 1.

b.Each row’s first cell is twice the previous row’s first cell.

c.Each non-first cell’s value is equal to the previous cell’s value (to the left) + 5.

Calculate the mean of the square of each row, and the mean of the square of each column.

In [12]:
array_2D = np.ones((10,5))
array_2D

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [13]:
first_cell = 1

for row in array_2D:
    row[0] = first_cell
    first_cell = first_cell * 2
    
array_2D

array([[  1.,   1.,   1.,   1.,   1.],
       [  2.,   1.,   1.,   1.,   1.],
       [  4.,   1.,   1.,   1.,   1.],
       [  8.,   1.,   1.,   1.,   1.],
       [ 16.,   1.,   1.,   1.,   1.],
       [ 32.,   1.,   1.,   1.,   1.],
       [ 64.,   1.,   1.,   1.,   1.],
       [128.,   1.,   1.,   1.,   1.],
       [256.,   1.,   1.,   1.,   1.],
       [512.,   1.,   1.,   1.,   1.]])

In [14]:
for row in array_2D:
    for index in range(1, len(row)):
        row[index] = row[index - 1] + 5
    
array_2D

array([[  1.,   6.,  11.,  16.,  21.],
       [  2.,   7.,  12.,  17.,  22.],
       [  4.,   9.,  14.,  19.,  24.],
       [  8.,  13.,  18.,  23.,  28.],
       [ 16.,  21.,  26.,  31.,  36.],
       [ 32.,  37.,  42.,  47.,  52.],
       [ 64.,  69.,  74.,  79.,  84.],
       [128., 133., 138., 143., 148.],
       [256., 261., 266., 271., 276.],
       [512., 517., 522., 527., 532.]])

In [15]:
new_array_2D = np.int32(array_2D**2)
new_array_2D

array([[     1,     36,    121,    256,    441],
       [     4,     49,    144,    289,    484],
       [    16,     81,    196,    361,    576],
       [    64,    169,    324,    529,    784],
       [   256,    441,    676,    961,   1296],
       [  1024,   1369,   1764,   2209,   2704],
       [  4096,   4761,   5476,   6241,   7056],
       [ 16384,  17689,  19044,  20449,  21904],
       [ 65536,  68121,  70756,  73441,  76176],
       [262144, 267289, 272484, 277729, 283024]])

In [16]:
np.int32(new_array_2D.mean(axis=0))

array([34952, 36000, 37098, 38246, 39444])

In [17]:
np.int32(new_array_2D.mean(axis=1))

array([   171,    194,    246,    374,    726,   1814,   5526,  19094,
        70806, 272534])