# Lesson 8.

## PANDAS

In [1]:
import pandas as pd

In [2]:
series = pd.Series([1, 2, 3, 4, 5])
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
series.index

RangeIndex(start=0, stop=5, step=1)

In [5]:
series.values, type(series.values)

(array([1, 2, 3, 4, 5], dtype=int64), numpy.ndarray)

In [6]:
series[4]

5

In [8]:
indexed_series = pd.Series([5, 6, 7, 8, 9, 10], index=['a','b','c','d','e','f'])
indexed_series

a     5
b     6
c     7
d     8
e     9
f    10
dtype: int64

In [9]:
import numpy as np

In [11]:
indexed_series['a']

5

In [14]:
indexed_series[['a', 'b', 'f']]

a     5
b     6
f    10
dtype: int64

In [16]:
indexed_series[['a', 'b', 'f']] = 42
indexed_series

a    42
b    42
c     7
d     8
e     9
f    42
dtype: int64

In [17]:
indexed_series[indexed_series >=9]

a    42
b    42
e     9
f    42
dtype: int64

In [18]:
indexed_series[indexed_series >= 9] ** .5

a    6.480741
b    6.480741
e    3.000000
f    6.480741
dtype: float64

In [19]:
dict_series = pd.Series({'a': 5, 'b' : 6, 'c': 7, 'd': 8})
dict_series

a    5
b    6
c    7
d    8
dtype: int64

In [20]:
dict_series.name = 'Series from dictionary '
dict_series.index.name = 'letters'
dict_series

letters
a    5
b    6
c    7
d    8
Name: Series from dictionary , dtype: int64

In [21]:
dict_series.index = [1, 2, 3, 4]
dict_series

1    5
2    6
3    7
4    8
Name: Series from dictionary , dtype: int64

DataFrame

In [22]:
df = pd.DataFrame(
    [
        {
            'element': 'Helium', 
            'symbol': 'He', 
            'atomic_number': 2
        }, 
        {
            'element': 'Magnesium',
            'symbol': 'Mg',
            'atomic_number': 12
        }
    ]
)
df

     element symbol  atomic_number
0     Helium     He              2
1  Magnesium     Mg             12

In [23]:
df['symbol'], df.symbol, type(df.symbol)

(0    He
 1    Mg
 Name: symbol, dtype: object,
 0    He
 1    Mg
 Name: symbol, dtype: object,
 pandas.core.series.Series)

In [24]:
df.columns

Index(['element', 'symbol', 'atomic_number'], dtype='object')

In [25]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [26]:
df.shape

(2, 3)

In [28]:
df[['element', 'symbol']]

     element symbol
0     Helium     He
1  Magnesium     Mg

In [29]:
df = pd.DataFrame(
    [
        {
            'element': 'Helium', 
            'symbol': 'He', 
            'atomic_number': 2
        }, 
        {
            'element': 'Magnesium',
            'symbol': 'Mg',
            'atomic_number': 12
        }
    ],
    index=['HE', 'MG']
)
df

      element symbol  atomic_number
HE     Helium     He              2
MG  Magnesium     Mg             12

In [30]:
df.index = ['HE', 'MG']
df.index.name = 'Element code'
df

                element symbol  atomic_number
Element code
HE               Helium     He              2
MG            Magnesium     Mg             12

In [31]:
df['element']

Element code
HE       Helium
MG    Magnesium
Name: element, dtype: object

In [32]:
df.loc['HE']

element          Helium
symbol               He
atomic_number         2
Name: HE, dtype: object

In [33]:
df.iloc[0]  # доступ по числовому значенню

element          Helium
symbol               He
atomic_number         2
Name: HE, dtype: object

In [34]:
import json

In [41]:
with open('periodic-table.json', 'r') as file:
   periodic_table_df  = pd.DataFrame(json.load(file))
periodic_table_df

,name,appearance,atomic_mass,boil,category,density,discovered_by,melt,molar_heat,named_by,...,symbol,xpos,ypos,shells,electron_configuration,electron_configuration_semantic,electron_affinity,electronegativity_pauling,ionization_energies,cpk-hex
0,Hydrogen,colorless gas,1.008,20.271,diatomic nonmetal,0.08988,Henry Cavendish,13.99,28.836,Antoine Lavoisier,...,H,1,1,[1],1s1,1s1,72.769,2.2,[1312],ffffff
1,Helium,"colorless gas, exhibiting a red-orange glow wh...",4.0026022,4.222,noble gas,0.1786,Pierre Janssen,0.95,,,...,He,18,1,[2],1s2,1s2,-48,,"[2372.3, 5250.5]",d9ffff
2,Lithium,silvery-white,6.94,1603,alkali metal,0.534,Johan August Arfwedson,453.65,24.86,,...,Li,1,2,"[2, 1]",1s2 2s1,[He] 2s1,59.6326,0.98,"[520.2, 7298.1, 11815]",cc80ff
3,Beryllium,white-gray metallic,9.01218315,2742,alkaline earth metal,1.85,Louis Nicolas Vauquelin,1560,16.443,,...,Be,2,2,"[2, 2]",1s2 2s2,[He] 2s2,-48,1.57,"[899.5, 1757.1, 14848.7, 21006.6]",c2ff00
4,Boron,black-brown,10.81,4200,metalloid,2.08,Joseph Louis Gay-Lussac,2349,11.087,,...,B,13,2,"[2, 3]",1s2 2s2 2p1,[He] 2s2 2p1,26.989,2.04,"[800.6, 2427.1, 3659.7, 25025.8, 32826.7]",ffb5b5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,Moscovium,,289,1400,"unknown, probably post-transition metal",13.5,Joint Institute for Nuclear Research,670,,,...,Mc,15,7,"[2, 8, 18, 32, 32, 18, 5]",1s2 2s2 2p6 3s2 3p6 4s2 3d10 4p6 5s2 4d10 5p6 ...,*[Rn] 5f14 6d10 7s2 7p3,35.3,,[],
115,Livermorium,,293,1085,"unknown, probably post-transition metal",12.9,Joint Institute for Nuclear Research,709,,,...,Lv,16,7,"[2, 8, 18, 32, 32, 18, 6]",1s2 2s2 2p6 3s2 3p6 4s2 3d10 4p6 5s2 4d10 5p6 ...,*[Rn] 5f14 6d10 7s2 7p4,74.9,,[],
116,Tennessine,,294,883,"unknown, probably metalloid",7.17,Joint Institute for Nuclear Research,723,,,...,Ts,17,7,"[2, 8, 18, 32, 32, 18, 7]",1s2 2s2 2p6 3s2 3p6 4s2 3d10 4p6 5s2 4d10 5p6 ...,*[Rn] 5f14 6d10 7s2 7p5,165.9,,[],
117,Oganesson,,294,350,"unknown, predicted to be noble gas",4.95,Joint Institute for Nuclear Research,,,,...,Og,18,7,"[2, 8, 18, 32, 32, 18, 8]",1s2 2s2 2p6 3s2 3p6 4s2 3d10 4p6 5s2 4d10 5p6 ...,*[Rn] 5f14 6d10 7s2 7p6,5.40318,,[],
118,Ununennium,,315,630,"unknown, but predicted to be an alkali metal",3,GSI Helmholtz Centre for Heavy Ion Research,,,,...,Uue,1,8,"[2, 8, 18, 32, 32, 18, 8, 1]",1s2 2s2 2p6 3s2 3p6 4s2 3d10 4p6 5s2 4d10 5p6 ...,*[Uuo] 8s1,63.87,,[],

type

In [45]:
periodic_table_df.atomic_mass

0           1.008
1       4.0026022
2            6.94
3      9.01218315
4           10.81
          ...
114           289
115           293
116           294
117           294
118           315
Name: atomic_mass, Length: 119, dtype: object

In [48]:
periodic_table_df.atomic_mass.astype(float) * 2

0        2.016000
1        8.005204
2       13.880000
3       18.024366
4       21.620000
          ...
114    578.000000
115    586.000000
116    588.000000
117    588.000000
118    630.000000
Name: atomic_mass, Length: 119, dtype: float64

In [49]:
periodic_table_df.boil[periodic_table_df.boil != ''].astype(np.float16) * 2 
# задали умову перетворення boil у флот, але пропустивши порожні строки

0        40.531250
1         8.445312
2      3206.000000
3      5484.000000
4      8400.000000
          ...
114    2800.000000
115    2170.000000
116    1766.000000
117     700.000000
118    1260.000000
Name: boil, Length: 105, dtype: float16

In [79]:
df = pd.read_csv('periodic-table.csv')
df.head(5)
#df.head?

,name,appearance,atomic_mass,boil,category,density,discovered_by,melt,molar_heat,named_by,...,symbol,xpos,ypos,shells,electron_configuration,electron_configuration_semantic,electron_affinity,electronegativity_pauling,ionization_energies,cpk-hex
0,Hydrogen,colorless gas,1.008000,20.271,diatomic nonmetal,0.08988,Henry Cavendish,13.99,28.836,Antoine Lavoisier,...,H,1,1,[1],1s1,1s1,72.7690,2.20,[1312],ffffff
1,Helium,"colorless gas, exhibiting a red-orange glow wh...",4.002602,4.222,noble gas,0.17860,Pierre Janssen,0.95,NaN,NaN,...,He,18,1,[2],1s2,1s2,-48.0000,NaN,"[2372.3, 5250.5]",d9ffff
2,Lithium,silvery-white,6.940000,1603.000,alkali metal,0.53400,Johan August Arfwedson,453.65,24.860,NaN,...,Li,1,2,"[2, 1]",1s2 2s1,[He] 2s1,59.6326,0.98,"[520.2, 7298.1, 11815]",cc80ff
3,Beryllium,white-gray metallic,9.012183,2742.000,alkaline earth metal,1.85000,Louis Nicolas Vauquelin,1560.00,16.443,NaN,...,Be,2,2,"[2, 2]",1s2 2s2,[He] 2s2,-48.0000,1.57,"[899.5, 1757.1, 14848.7, 21006.6]",c2ff00
4,Boron,black-brown,10.810000,4200.000,metalloid,2.08000,Joseph Louis Gay-Lussac,2349.00,11.087,NaN,...,B,13,2,"[2, 3]",1s2 2s2 2p1,[He] 2s2 2p1,26.9890,2.04,"[800.6, 2427.1, 3659.7, 25025.8, 32826.7]",ffb5b5

In [80]:
df.describe()

,atomic_mass,boil,density,melt,molar_heat,number,period,xpos,ypos,electron_affinity,electronegativity_pauling
count,119.000000,105.000000,115.000000,107.000000,78.000000,119.000000,119.000000,119.000000,119.000000,110.000000,100.000000
mean,147.904483,2457.306981,9.972500,1233.424281,26.305090,60.000000,5.277311,10.000000,6.033613,56.087864,1.707400
std,90.613592,1595.480116,8.599184,855.956156,5.623312,34.496377,1.630869,5.313877,2.497228,93.660585,0.629298
min,1.008000,4.222000,0.089880,0.950000,8.517000,1.000000,1.000000,1.000000,1.000000,-223.220000,0.790000
25%,67.552550,1085.000000,4.110500,516.040000,24.874250,30.500000,4.000000,5.500000,4.000000,11.512500,1.237500
50%,144.242300,2673.000000,7.520000,1173.000000,25.894500,60.000000,6.000000,10.000000,6.000000,46.887000,1.605000
75%,229.017941,3505.000000,12.675000,1801.000000,27.187500,89.500000,7.000000,15.000000,8.500000,101.034250,2.115000
max,315.000000,6203.000000,40.700000,3695.000000,62.700000,119.000000,8.000000,18.000000,10.000000,348.575000,3.980000

In [81]:
values = df.discovered_by.value_counts()
values.sort_values(ascending = False)

Joint Institute for Nuclear Research           8
Lawrence Berkeley National Laboratory          7
Gesellschaft für Schwerionenforschung          6
Carl Wilhelm Scheele                           5
Martin Heinrich Klaproth                       3
                                              ..
unknown, before 3000 BC                        1
Karl Ernst Claus                               1
Ferdinand Reich                                1
Andrés Manuel del Río                          1
GSI Helmholtz Centre for Heavy Ion Research    1
Name: discovered_by, Length: 74, dtype: int64

In [82]:
df.phase.value_counts().sort_values(ascending = False)

Solid     105
Gas        12
Liquid      2
Name: phase, dtype: int64

In [83]:
(df.atomic_mass*1000).astype(str) + ' grams'

0                  1008.0 grams
1      4002.6022000000003 grams
2                  6940.0 grams
3              9012.18315 grams
4                 10810.0 grams
                 ...
114              289000.0 grams
115              293000.0 grams
116              294000.0 grams
117              294000.0 grams
118              315000.0 grams
Name: atomic_mass, Length: 119, dtype: object

Збереження

In [1]:
df.phase.value_counts().sort_values(ascending=False).to_csv('periodic-statistics.csv', index=True)

NameError: name 'df' is not defined

In [67]:
with open ('periodic-statistics.csv') as file:
    print(file.read())

,phase
Solid,105
Gas,12
Liquid,2

Обробка простих значень

In [69]:
df.isna().sum()

name                                 0
appearance                          33
atomic_mass                          0
boil                                14
category                             0
density                              4
discovered_by                        1
melt                                12
molar_heat                          41
named_by                           107
number                               0
period                               0
phase                                0
source                               0
spectral_img                        98
summary                              0
symbol                               0
xpos                                 0
ypos                                 0
shells                               0
electron_configuration               0
electron_configuration_semantic      0
electron_affinity                    9
electronegativity_pauling           19
ionization_energies                  0
cpk-hex                             10
dtype: int64

Видалення дублікатів

In [70]:
df = pd.DataFrame([
    {'a': 1, 'b': 2, 'c': 3}, 
    {'a': 1, 'b': 2, 'c': 4}, 
    {'a': 1, 'b': 100, 'c': 1000}, 
    {'a': 1, 'b': 2, 'c': 3}
])
df

   a    b     c
0  1    2     3
1  1    2     4
2  1  100  1000
3  1    2     3

In [72]:
df.drop_duplicates()

   a    b     c
0  1    2     3
1  1    2     4
2  1  100  1000

In [73]:
df

   a    b     c
0  1    2     3
1  1    2     4
2  1  100  1000
3  1    2     3

In [74]:
periodic_table_df.sort_values('atomic_mass')

,name,appearance,atomic_mass,boil,category,density,discovered_by,melt,molar_heat,named_by,...,symbol,xpos,ypos,shells,electron_configuration,electron_configuration_semantic,electron_affinity,electronegativity_pauling,ionization_energies,cpk-hex
0,Hydrogen,colorless gas,1.008,20.271,diatomic nonmetal,0.08988,Henry Cavendish,13.99,28.836,Antoine Lavoisier,...,H,1,1,[1],1s1,1s1,72.769,2.2,[1312],ffffff
4,Boron,black-brown,10.81,4200,metalloid,2.08,Joseph Louis Gay-Lussac,2349,11.087,,...,B,13,2,"[2, 3]",1s2 2s2 2p1,[He] 2s2 2p1,26.989,2.04,"[800.6, 2427.1, 3659.7, 25025.8, 32826.7]",ffb5b5
43,Ruthenium,silvery white metallic,101.072,4423,transition metal,12.45,Karl Ernst Claus,2607,24.06,,...,Ru,8,5,"[2, 8, 18, 15, 1]",1s2 2s2 2p6 3s2 3p6 4s2 3d10 4p6 5s1 4d7,[Kr] 4d7 5s1,100.96,2.2,"[710.2, 1620, 2747]",248f8f
44,Rhodium,silvery white metallic,102.905502,3968,transition metal,12.41,William Hyde Wollaston,2237,24.98,,...,Rh,9,5,"[2, 8, 18, 16, 1]",1s2 2s2 2p6 3s2 3p6 4s2 3d10 4p6 5s1 4d8,[Kr] 4d8 5s1,110.27,2.28,"[719.7, 1740, 2997]",0a7d8c
45,Palladium,silvery white,106.421,3236,transition metal,12.023,William Hyde Wollaston,1828.05,25.98,,...,Pd,10,5,"[2, 8, 18, 18]",1s2 2s2 2p6 3s2 3p6 4s2 3d10 4p6 4d10,[Kr] 4d10,54.24,2.2,"[804.4, 1870, 3177]",6985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,Beryllium,white-gray metallic,9.01218315,2742,alkaline earth metal,1.85,Louis Nicolas Vauquelin,1560,16.443,,...,Be,2,2,"[2, 2]",1s2 2s2,[He] 2s2,-48,1.57,"[899.5, 1757.1, 14848.7, 21006.6]",c2ff00
39,Zirconium,silvery white,91.2242,4650,transition metal,6.52,Martin Heinrich Klaproth,2128,25.36,,...,Zr,4,5,"[2, 8, 18, 10, 2]",1s2 2s2 2p6 3s2 3p6 4s2 3d10 4p6 5s2 4d2,[Kr] 4d2 5s2,41.806,1.33,"[640.1, 1270, 2218, 3313, 7752, 9500]",94e0e0
40,Niobium,"gray metallic, bluish when oxidized",92.906372,5017,transition metal,8.57,Charles Hatchett,2750,24.6,,...,Nb,5,5,"[2, 8, 18, 12, 1]",1s2 2s2 2p6 3s2 3p6 4s2 3d10 4p6 5s1 4d4,[Kr] 4d4 5s1,88.516,1.6,"[652.1, 1380, 2416, 3700, 4877, 9847, 12100]",73c2c9
41,Molybdenum,gray metallic,95.951,4912,transition metal,10.28,Carl Wilhelm Scheele,2896,24.06,,...,Mo,6,5,"[2, 8, 18, 13, 1]",1s2 2s2 2p6 3s2 3p6 4s2 3d10 4p6 5s1 4d5,[Kr] 4d5 5s1,72.1,2.16,"[684.3, 1560, 2618, 4480, 5257, 6640.8, 12125,...",54b5b5
42,Technetium,shiny gray metal,98,4538,transition metal,11,Emilio Segrè,2430,24.27,,...,Tc,7,5,"[2, 8, 18, 13, 2]",1s2 2s2 2p6 3s2 3p6 4s2 3d10 4p6 5s2 4d5,[Kr] 4d5 5s2,53,1.9,"[702, 1470, 2850]",3b9e9e